
name: Coverage

on:
  push:
    paths:
      - "src/uplang/**"
      - "tests/**"
  workflow_dispatch:

permissions:
  id-token: write

jobs:
  generate-and-upload:
    name: Generate and upload coverage report
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "UV_HOME=~/.uv" >> $GITHUB_ENV
          echo "$UV_HOME/bin" >> $GITHUB_PATH
        shell: bash

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Generate coverage report
        run: uv run pytest --cov=uplang --cov-report=xml
      
      - name: Upload coverage reports
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
